/* mycrop_styles.css */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e8f5e9;
    background: url('leaves.jpg') no-repeat center center fixed;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(211, 223, 209);
    border-radius: 10px;
}

header {
    background-color: #b3cfb2;
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    max-height: 80px;
    margin-right: 40px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
}

.sign-in-btn, .home-btn, .logout-btn {
    background-color: #ffffff;
    color: #78B670;
    border: 2px solid #78B670;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1em;
    font-weight: bold;
    flex: 1 1 auto;
    margin: 5px;
}

.sign-in-btn:hover, .home-btn:hover, .logout-btn:hover {
    background-color: #78B670;
    color: #ffffff;
}

main {
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    max-width: 1200px;
    width: 100%;
}

.crop-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Hover effect for crop items */
.crop-item {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    text-align: center;
    width: 150px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.crop-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.crop-item p {
    font-size: 1.2em;
    color: #2e8b57;
    margin-top: 10px;
    transition: color 0.3s;
}

/* Hover effects */
.crop-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.crop-item:hover img {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.crop-item:hover p {
    color: #1e5e40;
}

a {
    display: inline-block;
    margin-top: 20px;
    font-size: 1.1em;
    color: #2e8b57;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #2e8b57;
    border-radius: 5px;
    text-align: center;
}

a:hover {
    background-color: #2e8b57;
    color: #fff;
}
